<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cocos2d.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ext_clipper.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ext_convertUTF.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ext_edtaa3func.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ext_md5.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ext_poly2tri.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ext_recast.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ext_tinyxml2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ext_unzip.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ext_xxhash.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ext_xxtea.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>external.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>068666BF43F34AC3945BA5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4072FEDA2AFC4B8DB3064679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5FEE1B4C7945B4B40DD83A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>532F809881CE46D78B007D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BED0BF04CA74E9C8897666F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B9981BFC25437091203C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B307EDE34AB43E8A1B204FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83EDE08FB7EA498386C2AE51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994917C7D9F444E79EF2BDC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E0C55C3860C454B8F8F7E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC7D1FD6BCFE438B89E6EE48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32079909E46425AB2196B71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCCC1F139BFE47B6ACE8631A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0C80D0FD0B740BEB37AEAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
